<div class="w-full p-4 sm:flex items-center justify-between lg:mt-1.5">
  <div class="w-full mb-1">
    <div class="mb-4">
      <nav class="flex mb-5" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 text-sm font-medium md:space-x-2">
          <li class="inline-flex items-center">
            <a
              class="inline-flex items-center text-gray-700 hover:text-primary-600 dark:text-gray-300 dark:hover:text-white">
              <svg class="w-5 h-5 mr-2.5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
                </path>
              </svg>
              Home
            </a>
          </li>
          <li>
            <div class="flex items-center">
              <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd"></path>
              </svg>
              <a
                class="ml-1 text-gray-700 hover:text-primary-600 md:ml-2 dark:text-gray-300 dark:hover:text-white">Chat</a>
            </div>
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>

<div class="grow flex h-full flex-col w-full  justify-between">
  <!-- Chat Messages -->
  <div class="max-h-[calc(100vh_-_250px)] overflow-y-auto flex flex-col w-full gap-y-3 p-4" #messagesContainer>
    @for(message of chatMessages; track message.id) {
    @if (isCurrentUserMessage(message)) {
    <!-- Outgoing Message -->
    <div class="flex flex-col gap-y-1" [title]="message.creationDate">
      <div class="flex justify-end items-center gap-x-3">
        <span class="text-xs font-bold">You</span>
        <span class="text-xs font-normal">{{ message.creationDate | dfnsFormatDistanceToNow: { addSuffix: true } }}</span>
      </div>
      <div class="flex justify-end items-center gap-x-3">
        <div class="flex max-w-96 bg-indigo-500 rounded-lg p-3 gap-3">
          <p>{{ message.message }}</p>
        </div>
        <div class="relative w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
          <svg class="absolute w-12 h-12 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd">
            </path>
          </svg>
        </div>
      </div>
    </div>
    } @else {
    <!-- Incoming Message -->
    <div class="flex flex-col gap-y-1" [title]="message.creationDate">
      <div class="flex items-center gap-x-3">
        <span class="text-xs font-bold">{{ getMessageOwnerFullName(message) }}</span>
        <span class="text-xs font-normal">{{ message.creationDate | dfnsFormatDistanceToNow: { addSuffix: true }
          }}</span>
      </div>

      <div class="flex items-center gap-x-3">
        <div class="relative w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
          <svg class="absolute w-12 h-12 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd">
            </path>
          </svg>
        </div>
        <div class="flex max-w-96 rounded-lg p-3 gap-3 bg-white">
          <p class="text-gray-700">{{ message.message }}</p>
        </div>
      </div>
    </div>
    }
    }
  </div>

  <!-- Chat Input -->
  <footer class="bg-[#1f2937] border-t border-gray-300 p-4 bottom-0">
    <form class="flex justify-between gap-x-3" [formGroup]="messageFormGroup" (ngSubmit)="onFormSubmission()">
      <input type="text" placeholder="Type a message..." formControlName="message"
        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
      <button type="submit" [disabled]="messageFormGroup.invalid"
        class="text-white h-full bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 disabled:opacity-50 disabled:cursor-not-allowed">Send</button>
    </form>
  </footer>
</div>
